.component-paper{
    padding:20px;
    height: auto;
    box-shadow: none;
    background-color: inherit;
}
.apply-form-paper{
    padding:20px;
    height: auto;
    box-shadow: none;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.appbar{
    background-color: #ffffff !important;
    color:rgba(52, 49, 76, 1);
}
.MuiTabs-indicator{
    background-color: rgba(52, 49, 76, 1) !important;
}
.profile-card-major{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
.img-rounded{
border-radius: 50%;
width: fit-content;
max-height: 100px;
}
.pink-card{
    
    background-color: #FFFFFF;
}
.green-card{
    background-color: #FFFFFF;
    
}
.blue-card{
    background-color: #FFFFFF;   
}
.submission-button{
    background-color:rgba(52, 49, 76, 1);
    color:#FFFFFF;
}
.submission-button:hover{
    background-color:rgba(52, 49, 76, 1);
    color:#FFFFFF;
}