.flex-row-space-bw{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.padding-15 {
    padding:15px
}
.card-student{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.present-color{
    color: #52b202 !important;
}
.absent-color{
    color:#ff3d00;
}
.card-photo{
    border-radius: 50%;
   
    max-width: 50px;
}

.Accordion-main{
    margin-top: 10px;
    border-radius: 10px;
}
.appbar{
 background-color: #ffffff !important;
 color:rgba(52, 49, 76, 1);
}
.MuiTabs-indicator{
    background-color: rgba(52, 49, 76, 1) !important;
}
.students-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}