.flex-row-space-bw{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.padding-15 {
    padding:15px
}
.padding-15-left {
    padding-left:5%;
    
}

.card-footer{
    
    justify-content: flex-end;
   
   background-color: #FFFFFF;
   
}
.card-content{
overflow-y: scroll;

height:400px;
}

.radios {
	background: #F5F5F5;
	padding: 4px;
	border-radius: 3px;
	/* box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3); */
	position: relative;
}

.radios input {
	width: auto;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
  background-color:  #F5F5F5;
	/* background: #454857; */
	color: #757575;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radios input:checked {
	/* background-image: linear-gradient(180deg, #95d891, #74bbad); */
  background-color: #FFFFFF;
	color: #039BE5;
	box-shadow: 0 1px 1px #0000002e;
	/* text-shadow: 0 1px 0px #79485f7a; */
}

.radios input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}


@media (min-width:250px) and (max-width:450px) {
    .card-content{
        overflow-y: scroll;
        height:400px;
        }  
}
.card-content::-webkit-scrollbar {
    width: 6px;
  }

  
  /* Track */
  .card-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }

  /* Handle */
  .card-content::-webkit-scrollbar-thumb {
    background: rgba(52, 49, 76, 1);; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .card-content::-webkit-scrollbar-thumb:hover {
    background: rgba(52, 49, 76, 1);; 
  }


.Accordion-main{
    margin-top: 10px;
    border-radius: 10px;
}
.appbar{
 background-color: #ffffff !important;
 color:rgba(52, 49, 76, 1);
}
.MuiTabs-indicator{
    background-color: rgba(52, 49, 76, 1) !important;
}
.submission-button{
    background-color: rgba(52, 49, 76, 1) !important;
    color:#FFFFFF;
}